.header {
    background-color: #AA978A;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    border-bottom: 3px solid #9A613C;
}

.nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
    border: 2px solid #9A613C;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    transition-duration: 0.9s;
}

.btn:hover {
    color: #AA978A;
    background-color: #9A613C;
    transition-duration: 0.9s;
}

@media (max-width: 268px) {
    .header {
        padding: 0; 
        width: 100vw;
        height: 100%;
    }
    .nav {
        width: 100%;
        flex-direction: column;
        height: 100%;
        padding: 10px 0; 
    }
    .btn {
        display: flex;
        width: 120px;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
}



@media(max-width: 765px) {
    .header {
        padding: 0; 
        width: 100vw;
        height: 100%;
    }
    .nav {
        width: 100%;
        flex-direction: column;
        height: 100%;
        padding: 10px 0; 
    }
    .btn {
        display: flex;
        width: 120px;
        display: flex;
        justify-content: center;
        transition-duration: 0.9s;
    }
}