.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 5px;
}


.btn {
    background-color: #AA978A;
    height: 150px;
    width: 150px;
    text-align: center;
    transition-duration: 1.8s;
}

.pos_btn {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.pos_btn h3 {
    font-size: 20px;
    letter-spacing: 1px;
}

.pos_btn span {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.descricao {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #AA978A;
    transition-duration: 1.8s;
    width: 1000px;
}

.descricao p {
    font-size: 18px;
}

.btn,
.descricao {
    border-radius: 10px;
}


.container:hover .pos_btn h3,
.container:hover .pos_btn span,
.container:hover .descricao p {
    color: #AA978A;
    transition-duration: 0.9s;
}

.container:hover .btn,
.container:hover .descricao {
    background-color: #9A613C;
    transition-duration: 0.9s;
}